<footer class="footer">
  <div class="container">
    <div class="reference-block">
      <a class="reference-light">Сплэш бронирование</a>
      <a class="reference">О нас</a>
      <a class="reference">Реквизиты</a>
    </div>
    <div class="reference-block">
      <a class="reference-light">Зарабатывать со Сплэш</a>
      <a (click)="compInfNavigate()" class="reference" style="cursor: pointer;">Сплэш для бизнеса</a>
      <a (click)="carWashRegNavigate()" class="reference" style="cursor:pointer;">Добавить автомойку</a>
    </div>
    <div class="reference-block">
      <a class="reference-light">Помощь</a>
      <a class="reference">Как сделать заказ</a>
      <a class="reference">Контакты</a>
      <a class="reference">Условия обработки данных</a>
      <a class="reference">Горячая линия</a>
    </div>
  </div>
</footer>
