<app-header></app-header>
<div class="reclama">
  <div class="reclama-left-side">
    <p class="Inter reclama-left-side-text">Забронируйте мойку в пару кликов!</p>
    <button class="Inter reclama-left-side-button">Записаться</button>
  </div>
  <div class="reclama-right-side">
    <img class="reclama-right-side-img" src="assets/images/reclama.png">
  </div>
</div>
<div class="about-us">
  <h2 class="Inter about-us-title">Почему вам стоит выбрать нас</h2>
  <div class="about-us-recomendations">
    <div class="about-us-recomendations-item">
      <img class="about-us-recomendations-item-img" src="assets/images/us-1.png"/>
      <h3 class="Inter about-us-recomendations-item-title">Гарантия качества</h3>
      <p class="Inter about-us-recomendations-item-text">При бронировании онлайн вы можете ознакомиться с отзывами других клиентов об автомойке.</p>
    </div>
    <div class="about-us-recomendations-item">
      <img class="about-us-recomendations-item-img" src="assets/images/us-2.png"/>
      <h3 class="Inter about-us-recomendations-item-title">Экономия времени</h3>
      <p class="Inter about-us-recomendations-item-text">Поможем забронировать мойку без необходимости стоять в очередях.</p>
    </div>
    <div class="about-us-recomendations-item">
      <img class="about-us-recomendations-item-img" src="assets/images/us-3.png"/>
      <h3 class="Inter about-us-recomendations-item-title">Система уведомлений</h3>
      <p class="Inter about-us-recomendations-item-text">Не дадим вам забыть, когда у вас назначена бронь и сообщим о статусе заказа.</p>
    </div>
    <div class="about-us-recomendations-item">
      <img class="about-us-recomendations-item-img" src="assets/images/us-4.png"/>
      <h3 class="Inter about-us-recomendations-item-title">Наглядность</h3>
      <p class="Inter about-us-recomendations-item-text">При выборе услуг для каждой автомойки вы видите примерное время выполнения вашего заказа.</p>
    </div>
  </div>
  <button class="Inter about-us-button">Перейти к оформлению</button>
</div>
<div class="about-us">
  <h2 class="Inter about-us-title">Выгода для партнера</h2>
  <div class="about-us-recomendations">
    <div class="about-us-recomendations-item">
      <img class="about-us-recomendations-item-img" src="assets/images/partner-1.png"/>
      <h3 class="Inter about-us-recomendations-item-title">Управление заказами</h3>
      <p class="Inter about-us-recomendations-item-text">Сможете отслеживать и управлять заказами через удобный интерфейс.</p>
    </div>
    <div class="about-us-recomendations-item">
      <img class="about-us-recomendations-item-img" src="assets/images/partner-2.png"/>
      <h3 class="Inter about-us-recomendations-item-title">Создание услуг и боксов</h3>
      <p class="Inter about-us-recomendations-item-text">Создавайте различные услуги с описанием, ценой и временем выполнения.</p>
    </div>
    <div class="about-us-recomendations-item">
      <img class="about-us-recomendations-item-img" src="assets/images/partner-3.png"/>
      <h3 class="Inter about-us-recomendations-item-title">Рабочий график</h3>
      <p class="Inter about-us-recomendations-item-text">Сможете выстраивать рабочий график для своих сотрудников.</p>
    </div>
    <div class="about-us-recomendations-item">
      <img class="about-us-recomendations-item-img" src="assets/images/partner-4.png"/>
      <h3 class="Inter about-us-recomendations-item-title">Аналитика</h3>
      <p class="Inter about-us-recomendations-item-text">Предоставим аналитические инструменты для мониторинга продаж и отзывов бизнеса.</p>
    </div>
  </div>
  <button class="Inter partner-button">Стать партнером</button>
</div>
<app-footer></app-footer>
