@import "@fortawesome/fontawesome-free/css/all.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@ng-select/ng-select/themes/material.theme.css';

@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-Regular.ttf") format("truetype");
}


.body {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

.html {
  box-sizing: border-box;
}

.div {
  box-sizing: border-box;
}

.Inter {
  font-family: Inter, serif;
}

.mat-mdc-dialog-surface {
  border-radius: 30px !important;
}



.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
  border-radius: 10px;
  border: 2px solid #B1B4BE;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #EFEFF5; }
