<div class="partner-settings-container">
  <a class="Inter reference" style="margin-bottom: 40px;">Изменить профиль</a>
  <p class="Inter text" style="margin-bottom: 8px;">Личная информация</p>
  <a class="Inter reference" style="margin-bottom: 24px;">Учетная запись</a>
  <p class="Inter text" style="margin-bottom: 8px;">Уведомления</p>
  <a class="Inter reference">Мои уведомления</a>
  <a class="Inter reference" style="margin-bottom: 16px;" [routerLink]="['/notification-settings']">Настройки уведомлений</a>
  <p class="Inter text" style="margin-bottom: 8px;">Управление компанией</p>
  <a class="Inter reference">Реквизиты компании</a>
  <a class="Inter reference" [routerLink]="['/comp-information']">Информация о&nbsp;компании</a>
  <a class="Inter reference" [routerLink]="['/employees']">Сотрудники</a>
</div>
